@page
@model EksamensProjekt2023.Pages.Groups.AssignMembersModel
@{
}
<div class="form-control">
    <form method="post" asp-page-handler="OnPost">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AssignMembers.Count; i++)
                {
                    var member = Model.AssignMembers[i];
                    <tr>
                        <td>@member.UserProfile.FullName</td>
                        <td><input type="checkbox" asp-for="AssignMembers[i].IsMember" /></td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" >Tildel Brugere</button>
    </form>
</div>
<p>(@Model.AssignMembers.Count)</p>
<p></p>