@page
@model EksamensProjekt2023.Pages.AdminPanel.CreateRecordModel
@{
}

<div>
    <form method="post">
        <div>
            <button type="submit" class="btn btn-primary">Opret Salgs Oversigt</button>
        </div>
    </form>
</div>