@page
@model EksamensProjekt2023.Pages.AdminPanel.CreateRecordModel
@{
}

<div>
    <form method="post">
        <div>
            <label class="form-label">Bruger</label>
            <input type="text" asp-for="@Model.Record.UserProfile.Id" />
            <span asp-validation-for="@Model.Record.UserProfile.Id" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Opret Salgs Oversigt</button>
        </div>
    </form>
</div>