@page
@model EksamensProjekt2023.Pages.AdminPanel.UpdateSaleModel
@{
}

<p>@Model.Record.RecordID</p>
<div>
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Antal Solgte Lodder</th>
                    <th>Antal MobilePay Salg</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input asp-for="Record.AmountSold" type="number" /></td>
                    <td><input asp-for="Record.MobilePayAmount" type="number" /></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Opdater" />
    </form>
</div>