@page
@model EksamensProjekt2023.Pages.AdminPanelModel
@{
    ViewData["Title"] = "Administrator Dashboard";
}




@* 
<article class="adminPanelMainContent">
<p>This is for main page content like</p>
<ul>
<li>Manage Children groups</li>
<li>Create new Children group</li>
<li>Amount of raffle tickets</li>
<li>Gained Revenue</li>
<li>List of leaders with attached Children Groups</li>
</ul>
</article> *@
