@page
@model IndexModel;
@*
    Where go ?
 @inject SignInManager<UserProfile> SignInManager; 
*@
@*
/// Date Edited: 2023-12-18
/// Author: Lasse B. Hindsberg
*@
@{
    ViewData["Title"] = "Home page";
    
}

<div class="container-fluid text-center">
    <div class="align-content-center">
        <h1 class="display-1 text-black">Lodseddelssalgsystem &middot; FDF K19</h1>
        <small>Eksamensopgave 2023 Udarbejdet af Gabriel H. Kierkegaard, Mohammad Gado, Muhammed Tastan, Henrik Seindahl & Lasse Hindsberg &middot; Zealand Roskilde </small>
    </div>

    <div class="col-3 m-auto mt-5 pt-5">
    <img class="img-fluid" src="~/img/FDFLogo.png" alt="FDF Logo af Kreds 19"/>
    </div>
</div>