@page
@model EksamensProjekt2023.Pages.LoginModel
@{
}

<form method="post">
    <table>
        <tr>
            <td><label asp-for="Username"></label></td>
            <td>
                <input asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Password"></label></td>
            <td>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password"></span>           
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" asp-page-handler="Login" value="Login" /></td>
        </tr>
    </table>
</form>