@page
@model EksamensProjekt2023.Pages.MembersModel
@{
    ViewData["Title"] = "Members list of " @*add the data for group name*@;
    
}
@*
/// Date Created: 2023-12-14
/// Date Edited: 2023-12-18
/// Author: Lasse B. Hindsberg
*@


<div class="listViewContainer">
    <div class="listViewContent">
@{
    /*Checks what the last page of the user was, if there isn't any "previous" page, it auto returns to "adminPanel"*/
    /*This is very scuffed, I don't know if there's a better way of doing this*/
    string previousPage = Request.Headers["Referer"];
    string returnLink = previousPage?.ToString() ?? "/AdminPanel";
}
        @*Turn this into group name, or like. group id or something :)*@
        <h1 class="h1"> @Model.pageName  &middot; Medlemmer: </h1>
        <a class="text-body-secondary link-info" href="@returnLink">Gå Tilbage</a>
            <table class="table table-striped">
                <thead >
                    @*Placeholder data currently*@
                    <tr>
                        <th >Medlem</th>
                        <th >antal Salg</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nicklas</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Peter</td>
                        <td>30</td>
                    </tr>
                    @*THIS PART DOESN'T FUNCTION CURRENTLY, SINCE GROUPS DOESNT EXIST 
                    @foreach (var member in Model.Members)
                    {
                        <tr>
                            <td>@member.member</td>
                        </tr>
                    }
                        *@
                </tbody>
            </table>
    </div>
</div>
