@page
@model EksamensProjekt2023.Pages.RoleConfigurationModel
@{
    ViewData["Title"] = "Role Configuration";
}

<div class="container-fluid roleConfigurationContainer">
    <h1 class="h1">Konfigurer Roller</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="col">e-mail</td>
                <td class="col">Konfigurer Roller</td>
                <td class="col"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.UserProfiles)
            {
                <tr>
                    <form method="post">
                        <input type="hidden" name="userId" value="@user.Id"/>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            <select class="form-select" name="roleName" aria-label="Role Select Dropdown">
                                <option selected>Choose a role...</option>
                            <option name="Admin" value="Admin">Admin</option>
                                <option name="Board Member" value="Board Member">Board member</option>
                                <option name="Leader" value="Leader">Leader</option>
                                <option name="Member" value="Member">Member</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn-sm btn-primary "type="submit">Vælg Role</button>
                        </td>
                    </form>
                </tr>
            }
        </tbody>
    </table>

</div>
